
body{
	background-color: #0f121f;
	background-image: url(full-moon.jpg);
	background-repeat-y: no-repeat;
	color: #fff;
}
/*
body *{
	font-family: Ubuntu;
}*/

h1 {
	font-family: Arial, "Times New Roman";
	font-size: 60px;
	font-style: italic;
	font-weight: 200;
	text-align: left;
	text-decoration: underline;
	text-indent: 100px;
	text-transform: capitalize;
	color: #ff0000;
	letter-spacing: 20px;
	word-spacing: 40px;
	line-height: 40px;
}

h2, h3, h4, h5{
	font-weight: normal;
	margin: 10;
	color: #f7d60e;
}

li {
	color: #7cffee
}

p {
	font-family: sans-serif;
	font-size: 25px;
	text-indent: 20px;
	word-spacing: 5px;
	line-height: 15px;
	color: #f7d60e;
}

a, a:visited {
	color: #7cffee;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.fixedHeightImage {
	height: 180px;
	object-fit: cover;
	object-position: left;
}

.centerImage {
	display: block;
	margin: 5px auto;
}

.wrapper {
	max-width: 1000px;
	margin: 0px auto;
}

div.wrapper h1 {
	text-align: center;
	margin: 100px auto;
	font-size: 5em;
}

/*
fr for fraction
1fr 1fr -- two equal columns
*/

header {
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px 0px;
}

nav {
	justify-self: end;
}

nav li {
	display: inline-block;
	margin: 10px;
}

nav button {
	background: none;
	color: #ffffff;
	cursor: pointer;
	border: 10;
	font-size: 1em
}

.articles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
}

.article {
	padding: 10px;
	border: 1px solid #00dba0;
	position: relative;
	padding-bottom: 40px;
}

.article h2 {
	font-size: 1.2em;
}

.article .author {
	padding: 20px;
	background: #00dba0;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	color: #0f121f;
}

.article p {
	font-size: 1em;
	font-family: ariel;
	color: #ffffff
}

.article-Details .article {
	padding: 0;
}

.article-Details .article img {
	max-width: 100%;
}

.article-Details .article h1 {
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
}

.article-Details .article h3 {
	text-align: center;
	color:  yellow;
	font-weight: bold;
}

.article-Details .article p {
	text-align: left;
	font-family: helvetica;
	font-style: italic;
}

.site-form {
	margin-top: 60px;
	border: 1px solid #00dba0;
	padding: 20px;
}

.site-form input, .site-form textarea {
	display: block;
	margin: 20px 0px 0px 0px;
	padding: 10px;
}

a.highlight {
	border: 1px solid #00dba0;
	padding: 10px;
	border-radius: 4px;
	color: #00dba0;
}

.helptext, .helptext ul {
	margin: 0 auto 20px;
	color: #bbbbbb;
	font-size: 0.9em;
	display: block;
}

.errorlist li {
	padding: 10px;
	list-style-type: none;
	border: 1px solid #ff5722;
	color: #ff5722;
	margin: 10px 0px;
}

.errorlist {
	padding: 0px;
}

.site-form input[type="submit"] {
	background: #00dba0;
	border: 0px;
	color: #fff;
	font-size: 1.2em;
	border-radius: 8px;
	margin: 10px 0px;
}
